    <footer>
      <div class="container">
        <div class="row">

          <div class="col">
            <h4 class="brand">
              <a href="/">Tab-Writer</a>
            </h4>
          </div>

          <div class="col">
            <nav class="nav-side">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Sobre</a></li>
                <li>
                  <a target="_blank" href="https://github.com/raphael-jorge/tabwriter" title="Conferir Projeto no GitHub">GitHub</a>
                </li>
              </ul>
            </nav>
          </div>

        </div>
      </div>
    </footer>
  </body>
</html>
