@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: $color-red-default;
  text-decoration: none;

  &:hover {
    color: $color-red-dark;
    text-decoration: none;
  }

  &.anchor-link {
    display: block;
    position: relative;
    top: -($nav-header-height + $nav-header-offset);
    visibility: hidden;
  }
}

body {
  @extend %default-font;
  margin: ($nav-header-height + $nav-header-offset) auto;
}

label {
  font-weight: bold;
}

html {
  @extend %default-font;
}

.btn-custom {
  color: $color-white;
  background-color: $color-red-default;
  @extend %btn-custom-properties;
  @include box-shadow-default($color-red-dark);
  @include transition(background-color 0.3s);

  &:hover, &:focus {
    background-color: $color-red-dark;
  }
}

.btn-custom-inv {
  color: $color-red-default;
  background-color: $color-white;
  @extend %btn-custom-properties;
  @include border-default($color-white);
  @include box-shadow(0 0 5px $color-red-dark);
  @include transition(color 0.3s);
  @include transition(border-color 0.3s);

  &:hover, &:focus {
    color: $color-red-dark;
    border-color: $color-red-dark;
  }
}

.btn-round {
  height: $btn-round-diam;
  width: $btn-round-diam;
  border-radius: $btn-round-diam;
}

.container {
  max-width: $container-max-width;
}

.form-control {
  font-size: $font-size-default;
  border-color: $color-gray-default;
  @include box-shadow-default($color-gray-default);
  @include transition(border-color 0.3s);

  &:focus {
    border-color: $color-red-dark;
    @include box-shadow-default($color-gray-default);
  }
}

.form-error {
  color: $color-red-default;
}

.highlight {
  border-radius: $border-radius-default;
  padding: $margin-large;
  @include border-default($color-red-dark);
  @include box-shadow-default($color-gray-default);
}

.jumbotron {
  background-image: url($cover-image-url);
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-family: $font-cursive;
    color: $color-red-darker;
    @include text-shadow-default($color-red-darker);

    i {
      margin-right: $margin-large;
    }
  }

  p {
    @include text-shadow-default($color-gray-dark);
  }
}

.nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: $nav-header-height;
  background-color: $color-white;
  @include border-default($color-gray-light, 'bottom');

  .nav-container {
    height: 100%;
    margin: 0 auto;
    max-width: $container-max-width + 2 * $margin-larger;
    padding: 0 $margin-large;

    a {
      color: $color-gray-dark;
      text-decoration: none;
      margin: 0 $margin-large;
      @include transition(color 0.3s);

      &:hover, &.nav-active {
        color: $color-red-dark;
      }
    }

    .nav-brand {
      font-size: $font-size-larger;
      color: $color-red-dark;
    }

    .nav-header, .nav-body-left {
      float: left;
    }

    .nav-body-right {
      float: right;
    }

    .nav-header, .nav-body-left, .nav-body-right {
      line-height: $nav-header-height;
    }

    .nav-header {
      margin-right: 5%;
    }
  }
}

.nav-side {
  padding: $margin-default;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin: $margin-default;
      padding-left: $margin-default;

      a {
        color: $color-gray-dark;
      }
    }

    &.nav-side-topic li {
      &.active {
        border-left: 2px solid $color-red-default;

        & > a:first-of-type {
          color: $color-red-dark;
        }
      }
    }

    &.nav-side-subtopic li {
      margin: $margin-default/2;
      padding-left: $margin-large;

      &.active {
        border-left: none;

        & > a:first-of-type {
          color: $color-black;
          font-weight: bold;
        }
      }
    }
  }
}

.sticky-top {
  position: sticky;
  top: $nav-header-height + $nav-header-offset;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@import 'tooltip';
@import 'index';
@import 'about';
