body[id='about'] {
  section {
    margin-bottom: $margin-larger;

    h4 {
      color: $color-red-default;
    }

    h5 {
      margin-top: $margin-larger;
    }

    p {
      text-indent: $margin-larger;
    }

    ul {
      list-style-type: none;
      padding-left: 2 * $margin-larger;

      li {
        margin-bottom: $margin-default;
      }
    }
  }

  pre {
    padding: $margin-default;
    margin: $margin-large;
    border-radius: $border-radius-default;
    font-family: $font-mono;
    font-size: $font-size-large;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    @include border-default($color-gray-dark);
    @include box-shadow-default($color-gray-default);
  }

  .tw-example {
    margin: $margin-large;
    position: relative;

    &:hover .btn {
      opacity: 1;
    }

    pre {
      margin: 0;
      min-height: $min-pre-height;
    }

    .btn {
      display: none;
      opacity: 0;
      padding: 0;
      margin: 0;
      position: absolute;
      top: ($min-pre-height - $pre-btn-size)/2;
      right: ($min-pre-height - $pre-btn-size)/2;
      height: $pre-btn-size;
      width: $pre-btn-size;
      text-align: center;
      @include transition(all 0.3s);
    }
  }

  .tab-out-example {
    font-family: $font-mono;
  }
}
