body[id='index'] {
  overflow-y: scroll;

  .block-input-area {
    .block-control {
      @media all and (min-width: $bts-xsmall-width) {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2 * $btn-custom-margin + $btn-round-diam;
      }
    }

    .block-input {
      @media all and (min-width: $bts-xsmall-width) {
        padding-right: 3 * $btn-custom-margin + $btn-round-diam;
      }
    }

    @media all and (min-width: $bts-xsmall-width) {
      position: relative;
    }

    @media all and (max-width: $bts-xsmall-width) {
      text-align: right;
    }
  }

  .output-control {
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
  }

  #config-area {
    display: none;
    padding: $margin-large;

    textarea {
      min-height: 2 * $margin-larger;
      resize: vertical;
    }
  }

  #dashboard {
    margin-top: $margin-larger;

    h3 {
      color: $color-red-dark;
    }

    p {
      margin-bottom: 20px;
      text-indent: 20px;
    }

    table {
      font-family: $font-mono;
      table-layout: fixed;
      width: 100%;
      margin-bottom: $margin-larger;

      tr:first-child td {
        border-top: none;

        pre {
          margin-bottom: $margin-default;
        }
      }

      tr:last-child td {
        pre {
          margin-top: $margin-default;
        }
      }

      td {
        line-height: 18px;
        display: block;
        word-wrap: break-word;
        padding: $margin-default;
        vertical-align: top;
        @include border-default($color-gray-light, 'top');

        pre {
          padding: 0;
          margin: 0;
          font-size: inherit;
          font-family: inherit;
          color: inherit;
          background-color: inherit;
          border: none;
          overflow: hidden;
        }
      }
    }
  }

  #error {
    margin: $margin-larger auto;
    padding: $margin-large;
    display: none;

    ol {
      padding-right: $margin-default;

      li {
        margin-bottom: $margin-default;
      }
    }

    @media all and (min-width: $bts-xsmall-width) {
      max-width: 85%;
    }
  }

  #input {
    min-height: 3 * ($btn-round-diam + 2 * $btn-custom-margin);
    font-family: $font-mono;
    resize: vertical;
  }
}
