<% include partials/header %>

<body id="error404">
  
  <header>
    <% include partials/navbar %>
    <% include partials/jumbotron %>
  </header>

  <main class="container">
    <div class="col-md-12">

      <section id="http-error">
        <h1>404</h1>
        <h4>Não foi possível encontrar a página solicitada.</h4>
      </section>

    </div>
  </main>

<% include partials/footer %>
