<% include partials/header %>

  <div class="container">
    <div class="col-md-12">
      <div class="http-error">
        <h1>404</h1>
        <h4>Não foi possível encontrar a página solicitada.</h4>
      </div>
    </div>
  </div>


<% include partials/footer %>
