<% include partials/header %>
  <div class="jumbotron">
    <div class="container">
      <h1><i id="logo" class="fa fa-file-audio-o" aria-hidden="true"></i>Tab-Writer</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" rows="4" placeholder="Escreva aqui as instruções para gerar sua tablatura"></textarea>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-custom btn-block" id="create">
                <i class="fa fa-pencil" aria-hidden="true"></i> Criar
              </button>
            </div>
            <div class="col-md-6">
              <a class="btn btn-custom btn-block" href="/about" role="button">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i> Saber Mais
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="dashboard"></div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/main.js"></script>

<% include partials/footer %>
