<% include partials/header %>


  <div class="container">
    <div class="row input-area">
      <div class="col-md-11">
        <textarea id="input" class="form-control" rows="4" placeholder="Escreva aqui as instruções para gerar sua tablatura"></textarea>
      </div>

      <div class="col-md-1 input-control">
        <button title="Apagar" class="btn btn-custom" id="btn-delete">
          <span class="glyphicon glyphicon-erase"></span>
        </button>
        <button title="Criar" class="btn btn-custom" id="btn-create">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="dashboard"></div>
        <div class="output-control">
          <button title="Salvar em PDF" class="btn btn-custom" id="btn-download">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="js/logourl.js"></script>
  <script src="js/index.js"></script>

<% include partials/footer %>
