<% include partials/header %>


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <textarea id="input" class="form-control" rows="4" placeholder="Escreva aqui as instruções para gerar sua tablatura"></textarea>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-custom btn-block" id="btn-create">
                <i class="fa fa-pencil" aria-hidden="true"></i> Criar
              </button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-custom btn-block" id="btn-download">
                <i class="fa fa-download" aria-hidden="true"></i> Download
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div id="dashboard"></div>
      </div>
    </div>
  </div>

  <script src="js/logourl.js"></script>
  <script src="js/index.js"></script>

<% include partials/footer %>
