* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nova Mono', monospace;
  overflow-y: scroll;
}

h1 {
  color: #222;
  text-shadow: 2px 2px 5px #233;
}

body div.container {
  max-width: 890px;
}

.btn-custom {
  color: #000;
  text-decoration: none;
  background-color: #ffce7f;
  border: 3px solid #f79022;
  border-radius: 6px;
  outline: none !important;
  margin: 7px auto;
  text-shadow: 1px 1px 3px #999;
  box-shadow: 0 0 3px #ffab2d;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #ffab2d;
  text-shadow: 1px 1px 3px #555;
}

.btn-custom:active,
.btn-custom:focus,
.btn-custom.active,
.btn-custom:active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.jumbotron {
  background-image: url("../images/guitar-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
