* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  overflow-y: scroll;
  margin-top: 65px;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px;
}

p {
  text-indent: 30px;
}

body div.container {
  max-width: 890px;
}

.jumbotron {
  font-family: 'Rubik Mono One', sans-serif;
  background-image: url("../images/guitar-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h1, .navbar-header .navbar-brand {
  color: #280b0b;
  text-shadow: 1px 1px 2px #583b3b;
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
  width: 90%;
  max-width: 700px;
  margin: 15px auto;
}

.highlight {
  border: 2px solid #aa0f0f;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.topics {
  list-style-type: none;
  margin-bottom: 75px;
  text-align: justify;
  padding-right: 5px;
  padding-left: 5px;
}

.table {
  table-layout: fixed;
  margin: 15px auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn-custom {
  font-family: 'Rubik Mono One', sans-serif;
  color: #e8e8e8;
  text-decoration: none;
  background-color: #ce1212;
  border-radius: 0px;
  outline: none !important;
  margin: 7px auto;
  box-shadow: 0px 0px 2px #555555,
              1px 1px 3px #aa0f0f;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.3s;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #aa0f0f;
  color: #e8e8e8;
}

.btn-custom:active,
.btn-custom:focus,
.btn-custom.active,
.btn-custom:active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.nav-container {
  height: 100%;
  margin: 0 auto;
  max-width: 930px;
  padding: 0 10px;
}

.nav-header, .nav-body-left {
  float: left;
}

.nav-body-right {
  float: right;
}

.nav-header, .nav-body-left, .nav-body-right {
  line-height: 45px;
}

.nav-header {
  margin-right: 5%;
}

.nav a{
  color: #999;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
  margin: 0 10px;
}

.nav-body-right a:hover, .nav-body-left a:hover, a.nav-active{
  color: #aa0f0f;
}

.nav .nav-brand {
  font-size: 20px;
  color: #aa0f0f;
}

#input {
  font-family: 'Nova Mono', monospace;
  resize: none;
}

#example {
  color: inherit;
  font-family: 'Nova Mono', monospace;
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
}

#example:hover {
  border: 1px solid #aa0f0f;
}

#dashboard table {
  font-family: 'Nova Mono', monospace;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
}

#dashboard td {
  line-height: 18px;
  display: block;
  word-wrap: break-word;
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #eee;
}

#instructions-go {
  cursor: pointer;
}

#instructions-go:hover{
  text-decoration: none;
}

#logo {
  margin-right: 15px;
}
