* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nova Mono', monospace;
  overflow-y: scroll;
}

h1 {
  color: #222;
  text-shadow: 2px 2px 5px #233;
}

textarea {
  font-family: 'Nova Mono', monospace;
  resize: none;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px;
}

p {
  text-indent: 30px;
}

body div.container {
  max-width: 890px;
}

.jumbotron {
  background-image: url("../images/guitar-cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
  width: 90%;
  max-width: 700px;
  margin: 15px auto;
}

.highlight {
  border: 2px solid #f79022;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.topics {
  list-style-type: none;
  margin-bottom: 75px;
  text-align: justify;
  padding-right: 5px;
  padding-left: 5px;
}

.table {
  table-layout: fixed;
  margin: 15px auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

.btn-custom {
  color: #000;
  text-decoration: none;
  background-color: #ffce7f;
  border: 3px solid #f79022;
  border-radius: 6px;
  outline: none !important;
  margin: 7px auto;
  text-shadow: 1px 1px 3px #999;
  box-shadow: 0 0 3px #ffab2d;
}

.btn-custom:hover,
.btn-custom:focus {
  background-color: #ffab2d;
  text-shadow: 1px 1px 3px #555;
}

.btn-custom:active,
.btn-custom:focus,
.btn-custom.active,
.btn-custom:active:focus {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#db {
  display: none;
}

#example {
  margin-top: 10px;
  width: 100%;
  text-decoration: none;
}

#dashboard table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 30px;
}

#dashboard td {
  line-height: 18px;
  display: block;
  word-wrap: break-word;
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #eee;
}
