body[id="about"] {
  section p {
    text-indent: 30px;
  }

  #example {
    display: block;
    margin-top: 5px;
    padding: 5px;
    font-family: $font-tabs;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;
  }

  #example:hover {
    border: 1px solid $color-red-focus;
  }

  #instructions {
    table {
      margin-top: 15px;
    }
  }
}
